.mainBody{
  //background: green;
  padding: 15px;

  .listOfNotes{
    color:white;

    .note{
      cursor: pointer;
      margin-bottom: 20px;
      padding: 10px;
      //border-bottom: 1px solid white;
    }

    .note:hover{
      background: #1abc9c;
      color:black;
    }

    .selected{
      color:black;
      background: rgb(29, 255, 220);
    }
  }

}