.addButton{
  padding: 5px;
  border-radius: 5px;
  margin:5px;
  border: 2px solid #4CAF50;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.addInput{
  padding: 5px;
  height: 32px;
  min-width: 100px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 20px;
  max-width: 150px;
}